# to exclude Obsidian's settings (including plugin and hotkey configurations)
.obsidian/

# to only exclude plugin configuration. Might be useful to prevent some plugin from exposing sensitive data
.obsidian/plugins

# OR only to exclude workspace cache
.obsidian/workspace.json

# to exclude workspace cache specific to mobile devices
.obsidian/workspace-mobile.json

#Removendo arquivos grandes
gtfs_rio-de-janeiro/

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store

# Removendo pastas desnecessárias
.makemd/
.space/

Linguagens Formais/PDFs/drive-download-20250630T230619Z-1-001.zip
Computação Científica e Análise de Dados/Trabalho Final/dataset.csv
Computação Científica e Análise de Dados/Trabalho Final/tracks_features.csv
Eletivas/Recuperação da Informação/Modern Information Retrieval_ The Concepts and Technology -- Ricardo Baeza-Yates, Berthier Ribeiro-Neto -- ACM Press Boo.pdf
